<footer id="footer" class="footer">
    <div class="footer-logo">

        <img src="/img/logo33.png">
        <p>粤ICP备15044136号</p>
    </div>
    <div class="footer-attention footerHider">
        <div class="footer-item">

            <p class='footer-title'>关于蛋壳表情</p>

            <p> 关于蛋壳表情(eggoob.com)
                找聊天斗图表情，上「发表情」就够了。
            </p>
        </div>
        <!-- <div class="footer-item ">
            <p class='footer-title'>版权申明
            </p>
            <p> 本站表情包来自于互联网，版权归原作者所有。如有侵犯您权利的资源，请联系我们处理。
            </p>
        </div>
        <div class="footer-item ">
            <p class='footer-title'>联系我们</p>
            <p> 友情链接、商务合作、版权：
                guandexis#gmail.com(将#替换为@)</p>
        </div> -->
    </div>
    <!-- <div class="footer-codes footerHider">
        <img src="<%= gconfig.cdn.img %>WechatIMG405.jpeg">
        <p>
            扫一扫官方的微信小程序
        </p>
        <p>
            i斗图
        </p>
    </div> -->
</footer>
<script src="/js/jquery_lazyload.js"></script>
<!-- <script src="/js/diy.js"></script> -->

<script>


$("img").lazyload({
    effect : "fadeIn"
});
        (function(){
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            }
            else {
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
        </script>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-7330700122994644",
    enable_page_level_ads: true
  });
</script>


<script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?af9b1e1f3f72976dbb72013713e975f2";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
    
<!-- <script>
    $(document).ready(function () {
        console.log('good')
        $('#container .section-left .sec-item .sec-item-list .sec-list-li').hover(function () {
            console.log('触发')
            $(this).find('.sec-list-l').fadeIn(100)
        }, function () {
            $(this).find('.sec-list-l').fadeOut(100)
        })
    })

</script> -->
</body>

</html>